/*

Styles by Gavroche with <3

*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url("https://G4vr0ch3.github.io/images/background.png");
  background-position: top;
  background-size: cover;
}

.welcome {
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(rgba(33, 37, 43, 0.4), rgba(129, 158, 187, 0.9));
  background-position: top;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 10%;
}

.Menu {
  flex: 1;
  text-align: right;
}

.Menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 12px;
  position: relative;
}

.Menu ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.Menu ul li a:visited {
  color: white;
  text-decoration: none;
}

.Menu ul li a:after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(115, 147, 179, 0.9);
  display: block;
  margin: auto;
  transition: 0.1s;
}

.Menu ul li a:hover::after {
  width: 100%;
}
.Menu ul li a:hover::before {
  width: 100%;
}

.Menu ul li a::before {
  content:'';
  position:absolute;top:calc(100% + 5px);
  width:0;
  right:0;
  height:3px;
  -webkit-transition:width .5s cubic-bezier(0.6, 0.2, 0, 0.9) .1s;
  -o-transition:width .5s cubic-bezier(0.6, 0.2, 0, 0.9) .1s;
  transition:width .5s cubic-bezier(0.6, 0.2, 0, 0.9) .1s;
  background: rgba(115, 147, 179, 0.9);
}

.Menu ul li a::after {
  content:'';
  position:absolute;
  top:calc(100% + 5px);
  width:0;
  right:0;
  height:3px;
  -webkit-transition:width .4s cubic-bezier(0.5, 0.1, 0.3, 0.8);
  -o-transition:width .4s cubic-bezier(0.5, 0.1, 0.3, 0.8);
  transition:width .4s cubic-bezier(0.5, 0.1, 0.3, 0.8);
  background:white;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 100px;
  font-weight: 900;
}

.text-box p {
  margin: inherit;
  font-size: 20px;
  color: #fff;
}

.btn {
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  border-radius: 80px;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: rgba(115, 147, 179, 0.9);
}

nav .bx{
  display: 	none;

}





.About {
  background-image: linear-gradient( rgba(129, 158, 187, 0.9), rgba(255, 255, 255, 0.6));
  min-height: 100vh;
  text-align: center;
}

.About h1 {
  color: #fff;
  padding-top: 10%;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 75px;
}

.About h3 {
  padding-bottom: 20px;
}
.About p {
  font-size: 14px
  padding: 10px;
  line-height: 22px;
}

.row {
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: center;
  flex-basis: 30%;
  background: rgba(33, 37, 43, 0.1);
  border-radius: 20px;
  border: 2px solid rgba(33, 37, 43, 0.5);
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.3s;
}

.col a {
  text-decoration: none;
  color: rgba(115, 147, 179, 0.9);
}

.col:hover {
  box-shadow: 0 0 20px 0px rgba(129, 158, 187, 0.8);
}





.Projects {
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(209, 107, 165, 0.5));
}

.Projects h1 {
  color: #fff;
  padding-top: 10%;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 75px;
}

.caps {
  height: 60vh;
  display: grid;
  place-content: center;
  gap: 0 0;
  grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
}

.caps1{
  gap: 15px;
  display:flex;
  place-content: center;
  filter: drop-shadow(2px 2px 5px);
}

.caps2 {
  gap: 15px;
  display:flex;
  place-content: center;
  filter: drop-shadow(2px 2px 5px);
}

.caps3 h1{
  margin: 0;
  padding: 0;
  filter: drop-shadow(0 0 0);
  display:flex;
  place-content: center;
}

.caps4 {
  gap: 15px;
  display:flex;
  place-content: center;
  filter: drop-shadow(2px 2px 5px);
}

.caps5{
  gap: 15px;
  display:flex;
  place-content: center;
  filter: drop-shadow(2px 2px 5px);
}

.capt {
  height: 100px;
  width: 100px;
  object-fit: contain;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: #262626;
  box-sizing: 2px solid black;
  border-width: 2px;
  border-color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}

.capt:hover {
  transform: ;
}

.capt img{
  transition: .5s;
}

.capt img:hover {
  transform: scale(115%);
  filter: brightness(1.5);
}

.ubuntu {
  padding-right: 7%;
}

.linux {
  padding-right: 5%;
}

@media(max-width: 1120px){
  .text-box h1 {
    font-size: 50px;
  }
  .Menu ul {
    padding: 30px;
  }
  .Menu ul li {
    display: block;
  }
  .Menu {
    position: absolute;
    background-image: linear-gradient(rgba(115, 147, 179, 1), rgba(115, 147, 179, 0.3));
    height: 100vh;
    width: 0px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
    overflow: hidden;
    transition: 1s;
  }
  nav .bx{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 28px;
    cursor: pointer;
  }
  .row {
    flex-direction: column;
  }
}
